# PEX packing
/pex-packing/sources/mutablesecurity
/pex-packing/.venv
/pex-packing/poetry.lock
/pex-packing/requirements.txt

# Debian repository management
/debian-repo/gpg.key
/debian-repo/gpg.pass
/debian-repo/packages/*.deb
